<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="userTypeId==1"> 
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block (click)="login()">Sign In</button>
    </div>
  </ion-list>


  <ion-list *ngIf="userTypeId==2"> 
        <!-- <ion-item>
          <ion-label>Choose Name</ion-label>
          <ion-select [(ngModel)]="guestInfo.mobile">
            <ion-option *ngFor="let guest of guests" [value]="guest.mobile">{{guest.name}}</ion-option>
          </ion-select>
        </ion-item> -->

        <ion-item>
          <ion-label>Select User</ion-label>
          <ion-select type="text" [(ngModel)]="guestInfo.userId" (ionChange)="getGuestList($event)">
              <ion-option *ngFor="let user of users"  value="{{user.id}}">{{user.name}}</ion-option> 
          </ion-select>
        </ion-item>

        <ion-item *ngIf="guestInfo.userId && userGuests.length>0">
          <ion-label>Select Guest</ion-label>
          <ion-select type="text" [(ngModel)]="guestInfo.guestId">
              <ion-option *ngFor="let guest of userGuests"  value="{{guest.id}}">{{guest.name}}</ion-option> 
          </ion-select>
        </ion-item>
      <div padding>
          <button ion-button block (click)="getOtp()" >Get Otp</button>
      </div>

      <div padding *ngIf="otpTriggered">
          <ion-input type="text" [(ngModel)]="guestInfo.otp" placeholder="Enter OTP"></ion-input> <br/><br/><br/>
          <button ion-button block (click)="verifyOtp()" >Verify</button>
      </div>


  </ion-list>




  
  <div text-center *ngIf="loader">
    <ion-spinner name="circles" ></ion-spinner>
  </div>  
</ion-content>
