page-events {
    #map {
        width: 100%;
        height: 40%;
      }
}


page-events1 {
    #map {
        width: 100%;
        height: 40%;
        overflow:hidden;
      }      
}


page-member{
    #map2 {
        width: 100%;
        height: 40%;
        overflow:hidden;
      }      
}
