<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        Message       
    </ion-title>    
    <!-- <ion-buttons end>
        <button ion-button (click)="approveMessage()">Approve Message</button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content>
            
        <!-- <div ion-fixed class="select-fixed" *ngIf="userInfo.userType==1">  -->


                <ion-list> 
                        <ion-item>
                            <ion-label>Message Type</ion-label>
                            <ion-select type="text" [(ngModel)]="messageTypeInfo">  
                                    <ion-option  value="1">Individual</ion-option>
                                    <ion-option  value="2">Group</ion-option>
                            </ion-select>
                        </ion-item>    
                </ion-list>      
                <ion-list *ngIf="userInfo.userType==1 && messageTypeInfo==1"> 
                    <ion-item>
                        <ion-label>Select Guest</ion-label>
                        <ion-select type="text" [(ngModel)]="messageInfo.guestId" (ionChange)="getIndividualMessages($event)"> 
                                <ion-option  value="0">ALL</ion-option>
                                <ion-option *ngFor="let guest of guests"  value="{{guest.id}}">{{guest.name}}</ion-option> 
                        </ion-select>
                    </ion-item>    
                </ion-list>  

                <ion-list radio-group [(ngModel)]="messageType" *ngIf="userInfo.userType==2 && messageTypeInfo==1">
                        <ion-item>
                        <ion-label>User</ion-label>
                        <ion-radio value="user" checked></ion-radio>
                        </ion-item>

                        <ion-item>
                        <ion-label>Guests</ion-label>
                        <ion-radio value="guests"></ion-radio>
                        </ion-item>
                </ion-list>
                <ion-list *ngIf="messageTypeInfo==2">
                    <ion-item>
                        <ion-label>Select Group</ion-label>
                         
                        <ion-select type="text" [(ngModel)]="groupMessageInfo.groupId" (ionChange)="getGroupMessages($event)"> 
                                <!-- <ion-option  value="">Select Group</ion-option> -->
                                <ion-option *ngFor="let group of groups"  value="{{group.id}}">{{group.name}}</ion-option> 
                        </ion-select>
                    </ion-item>    
                </ion-list>  
                <ion-item *ngIf="userInfo.userType==1 && messages.length>0">
                        <button ion-button (click)="approveMessage1()">Approve Message</button>
                </ion-item>
                
                <ion-item *ngIf="userInfo.userType==1 && groupMessages.pending>0 && groupMessages.length>0">
                        <button ion-button (click)="approveGroupMessages()">Approve Group Message</button>
                </ion-item>
                <div *ngIf="messageTypeInfo==2">
                        <div *ngFor="let groupMessage of groupMessages.filterGroupMessages">
                                <!-- <span align="right" class="col col-50" *ngIf="groupMessage.senderId==userInfo.id && groupMessage.senderType==userInfo.userType">right {{groupMessage.editorMsg}}</span>   
                                    <span align="left" class="col col-50"  *ngIf="groupMessage.senderId==userInfo.id && groupMessage.senderType!=userInfo.userType">left {{groupMessage.editorMsg}} -->
                                    <div class="item row">    
                                                    <span align="right" class="col col-50" *ngIf="groupMessage.sender">{{groupMessage.editorMsg}}</span>   
                                                    <span align="left" class="col col-50"  *ngIf="!groupMessage.sender">{{groupMessage.editorMsg}}<br/>
                                                     
                                                       sender {{groupMessage.senderName}}    
                                                    <!-- user Type {{userInfo.userType}}     status {{groupMessage.status}}    -->
                                                    <span *ngIf="groupMessage.status=='P' && userInfo.userType==1">Pending <ion-checkbox [(ngModel)]="groupMessage.selected"></ion-checkbox><b style="color:yellow">Pending</b></span>
                                                    <span *ngIf="groupMessage.status=='A' && userInfo.userType==1">Approve <b style="color:green">Approve</b></span>                              
                                                     </span>    
                                    </div>    
                        </div>     
                </div>    
                    <div *ngIf="messageTypeInfo==1">
                        <div *ngFor="let message of messages">
                            <div class="item row">    
                                    <span align="right" class="col col-50" *ngIf="message.sender">{{message.editorMsg}}</span>   
                                    <span align="left" class="col col-50"  *ngIf="!message.sender">{{message.editorMsg}}<br/>
                                        
                                        <b>sender</b> {{message.senderName}} <br/>
                                    <!-- user Type {{userInfo.userType}}     status {{groupMessage.status}}    -->
                                    <span *ngIf="message.status=='P' && userInfo.userType==1">Pending <ion-checkbox [(ngModel)]="message.selected"></ion-checkbox><b style="color:yellow">Pending</b></span>
                                    <span *ngIf="message.status=='A' && userInfo.userType==1">Approve <b style="color:green">Approve</b></span>                              
                                        </span>    
                            </div>  
                        </div>
                    </div>
</ion-content>
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-grid class="input-wrap">
      <ion-row>
          <!-- <ion-col col-2>
              <button ion-button clear icon-only item-right (click)="chooseImage()">
                  <ion-icon name="md-happy"></ion-icon>
              </button>
          </ion-col> -->
          <ion-col col-10 *ngIf="messageTypeInfo==1">
              <ion-textarea #chat_input
                            placeholder="Text Input"
                            [(ngModel)]="messageInfo.editorMsg"
                            (keyup.enter)="sendMessage()"
                            (focus)="onFocus()">
              </ion-textarea>
          </ion-col>


          <ion-col col-10 *ngIf="messageTypeInfo==2">
                <ion-textarea #chat_input
                              placeholder="Text Input"
                              [(ngModel)]="groupMessageInfo.editorMsg"
                              (keyup.enter)="sendGroupMessage()"
                              (focus)="onFocus()">
                </ion-textarea>
            </ion-col>
          <!-- {{messageInfo.editorMsg}} -->
           <ion-col col-2 >
              <button ion-button clear icon-only item-right (click)="sendGroupMessage()" [disabled]="!groupMessageInfo.editorMsg" *ngIf="messageTypeInfo==2">
                        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
              </button>  

              <!-- <button ion-button clear icon-only item-right (click)="sendGroupMessage()">
                    <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
              </button>   -->
              <button ion-button clear icon-only item-right (click)="sendMessage()" [disabled]="!messageInfo.editorMsg && (!messageInfo.guestId || !messageType)" *ngIf="messageTypeInfo==1">
                  <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
              </button>
          </ion-col>
      </ion-row>
  </ion-grid>
  <!-- <emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="messageInfo.editorMsg"></emoji-picker> -->
</ion-footer>