<ion-header>
  <ion-navbar>
    <ion-title>
      Messages
    </ion-title>

    

    <ion-buttons end *ngIf="userInfo.userType==1">
      <ion-select type="text" [(ngModel)]="messageInfo.guestId">
        <ion-option *ngFor="let guest of guests"  value="{{guest.id}}">{{guest.name}}</ion-option> 
      </ion-select>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
   
        <div class="message-wrap">
                <div *ngFor="let message of messages">
                    <div>
                        <div class="message" [class.left]="!message.sender"
                        [class.right]="message.sender" >
                            <div class="msg-detail" > 
                                <div class="msg-content">                            
                                    <p class="line-breaker">{{message.editorMsg}}</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>   
        </div>
  </ion-content>
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-grid class="input-wrap">
      <ion-row>
          <!-- <ion-col col-2>
              <button ion-button clear icon-only item-right (click)="chooseImage()">
                  <ion-icon name="md-happy"></ion-icon>
              </button>
          </ion-col> -->
          <ion-col col-10>
              <ion-textarea #chat_input
                            placeholder="Text Input"
                            [(ngModel)]="messageInfo.editorMsg"
                            (keyup.enter)="sendMessage()"
                            (focus)="onFocus()">
              </ion-textarea>
          </ion-col>
          <!-- {{messageInfo.editorMsg}} -->
          <ion-col col-2 >
              <button ion-button clear icon-only item-right (click)="sendMessage()" [disabled]="loader || !messageInfo.text">
                  <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
              </button>
          </ion-col>
      </ion-row>
  </ion-grid>
  <!-- <emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="messageInfo.editorMsg"></emoji-picker> -->
</ion-footer>