<!--
  Generated template for the SharePhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Share Photo</ion-title>
      <ion-buttons end>
        <button ion-button (click)="addImages()">Share Images</button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>


    <ion-list> 
            <ion-item>
                <ion-label>Message Type</ion-label>
                <ion-select type="text" [(ngModel)]="groupInfo.messageTypeInfo" (ionChange)="filterUser($event)">  
                        <ion-option  value="1">Individual</ion-option>
                        <ion-option  value="2">Group</ion-option>
                </ion-select>
            </ion-item>    
    </ion-list> 

    <ion-item *ngIf="groupInfo.messageTypeInfo==2">
            <ion-label>Select Group</ion-label>
             
            <ion-select type="text" [(ngModel)]="groupInfo.groupId" (ionChange)="getGroupImages($event)"> 
                    <!-- <ion-option  value="">Select Group</ion-option> -->
                    <ion-option *ngFor="let group of groups"  value="{{group.id}}">{{group.name}}</ion-option> 
            </ion-select>
    </ion-item> 
    <ion-toolbar *ngIf="userInfo.userType==1 && groupInfo.messageTypeInfo==1">
        <ion-segment [(ngModel)]="filterInput.selectedUserType"  (click)="filterUser()" >
            <ion-segment-button value="1">Me</ion-segment-button>
            <ion-segment-button value="2">Guest</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <ion-list>
        <!-- <ion-item *ngIf="filterInput.selectedUserType==2 && groupInfo.messageTypeInfo==1">
            <ion-label>Select Guest</ion-label>
            <ion-select type="text" [(ngModel)]="filterInput.guestId" (ionChange)="filterGuestImages($event)">
                <ion-option  value="0">ALL</ion-option>  
                <ion-option *ngFor="let guest of guests"  value="{{guest.id}}">{{guest.name}}</ion-option> 
            </ion-select>
        </ion-item>  -->

        <ion-item *ngIf="groupInfo.messageTypeInfo==1 && userInfo.userType==1">
            <ion-label>Select Guest</ion-label>
            <ion-select type="text" [(ngModel)]="filterInput.guestId" (ionChange)="filterGuestImages($event)">
                <ion-option  value="0">ALL</ion-option>  
                <ion-option *ngFor="let guest of guests"  value="{{guest.id}}">{{guest.name}}</ion-option> 
            </ion-select>
        </ion-item> 

        <ion-item *ngIf="filterInput.selectedUserType==2">
            <ion-label>Approve Guest</ion-label>
            <ion-select type="text" [(ngModel)]="filterInput.approveGuestId">
                <ion-option  value="0">ALL</ion-option>  
                <ion-option *ngFor="let guest of guests"  value="{{guest.id}}">{{guest.name}}</ion-option> 
            </ion-select>
        </ion-item> 


       
        
        <!-- {{userInfo.userType}} -->
        <ion-item *ngIf="groupInfo.messageTypeInfo==1 && filterInput.selectedUserType==2">
         <button ion-button (click)="approveImage1()">Approve Images</button>
        </ion-item> 

        <ion-item *ngIf="groupInfo.messageTypeInfo==2 && groupImages.length>0 && userInfo.userType==1 ">
          <button ion-button (click)="approveGroupImages()">Approved Group Images</button>
        </ion-item> 
        <!-- <ion-list> -->

           <ion-list *ngIf="groupInfo.messageTypeInfo==1"> 
            <ion-item *ngFor="let image of images">
                <!-- {{images.imagesArray}} -->
                    <!-- dfgdfhgjdfj -->
                <!-- {{image.imagesArray}} -->
                <!-- <p *ngIf="image.message">{{image.message}}</p><br/> -->
                <span *ngIf="image.message">{{image.message}}</span><br/>    
                <h2 *ngIf="image.senderName"><b>Sender Name</b> {{image.senderName}}</h2>
                <h2 *ngIf="image.receiverName && groupInfo.messageTypeInfo==1 && userInfo.userType==1"><b>Receiver Name</b> {{image.receiverName}}</h2>
                
                <span *ngIf="image.userType==2"><b>User Type:-</b>Guest</span><br/>    
                <span *ngIf="image.userType==1"><b>User Type:-</b>Admin</span><br/>   
                <ion-item *ngFor="let obj of image.imagesArray">
                    <span><img [src]="obj.imageUrl" style="width:50px;height:50px" imageViewer></span><br/>
                    <span *ngIf="filterInput.selectedUserType==2 && obj.status=='P'" style="color:red">Pending<input type="checkbox" [(ngModel)]="obj.selected" /></span>
                    <span *ngIf="filterInput.selectedUserType==2 && obj.status=='A'" style="color:green">Approved</span>
                </ion-item>
                
            </ion-item>
           </ion-list> 



            <!-- <ion-list *ngIf="groupInfo.messageTypeInfo==2"> -->
                <div *ngIf="groupInfo.messageTypeInfo==2">
                    <div *ngFor="let groupImage of groupImages">  
                        <span>{{groupImage.message}}</span><br/>
                        <h2 *ngIf="groupImage.senderName"><b>Sender Name</b> {{groupImage.senderName}}</h2>
                        <h2 *ngIf="groupImage.receiverName && groupInfo.messageTypeInfo==1 &&  userInfo.userType==1"><b>Receiver Name</b> {{groupImage.receiverName}}</h2>
                        <span *ngIf="groupImage.userType==2"><b>User Type </b>Guest</span>    
                        <span *ngIf="groupImage.userType==1"><b>User Type </b>Admin</span>    
                        
                        <div *ngFor="let obj of groupImage.imagesArray"> 
                            <div class="item row">                        

                                <span align="right" class="col col-50" *ngIf="obj.sender"><img [src]="obj.imageUrl" style="width:50px;height:50px" imageViewer></span><br/><br/>   
                                <span align="left" class="col col-50"  *ngIf="!obj.sender"><img [src]="obj.imageUrl" style="width:50px;height:50px" imageViewer><br/><br/>
                                    <span *ngIf="obj.status=='P' && userInfo.userType==1"><ion-checkbox [(ngModel)]="obj.selected"></ion-checkbox><b style="color:red">Pending</b></span><br/><br/>
                                    <span *ngIf="obj.status=='A' && userInfo.userType==1"><b style="color:green">Approve</b></span>
                                        <!-- </span>  -->

                                        <!-- <span align="right" class="col col-50" *ngIf="obj.sender"><span >{{obj.imageUrl}}</span><br/><span><b>Sender Name</b>{{obj.senderName}}</span> </span>   
                                        <span align="left" class="col col-50"  *ngIf="!obj.sender"><span >{{obj.imageUrl}}</span><br/> -->

                                        <!-- <span align="right" class="col col-50" *ngIf="obj.sender"><span ><img [src]="obj.imageUrl" style="width:50px;height:50px" ></span><br/><span *ngIf="obj.senderName"><b>Sender Name</b>{{obj.senderName}}</span> </span>   
                                        <span align="left" class="col col-50"  *ngIf="!obj.sender"><span ><img [src]="obj.imageUrl" style="width:50px;height:50px"></span><br/> -->
                                            
                                            <!-- <span *ngIf="obj.status=='P' && userInfo.userType==1"><ion-checkbox [(ngModel)]="obj.selected"></ion-checkbox><b style="color:red">Pending</b></span>
                                            <span *ngIf="obj.status=='A' && userInfo.userType==1"><b style="color:green">Approve</b></span><br/><br/> -->
                                            <!-- <span *ngIf="obj.senderName"><b>Sender Name  </b>  {{obj.senderName}}</span>
                                            <span *ngIf="userInfo.userType==1 && obj.userType==2"><b>User Type:-</b>Guest</span>    
                                            <span *ngIf="userInfo.userType==2 && obj.userType==1"><b>User Type:-</b>Admin</span>    
                                            <span *ngIf="userInfo.userType==2 && obj.userType==2"><b>User Type:-</b>Guest</span>     -->
                                </span>    
                            </div>
                        </div>    
                    </div> 
                </div>       
                <!-- <ion-item *ngFor="let groupImage of groupImages">
                    <ion-item *ngFor="let obj of groupImage.imagesArray">
                        <span>{{obj.imageUrl}}</span>
                        <span *ngIf="userInfo.userType==1 && obj.status=='P'" style="color:yellow">Pending <input type="checkbox" [(ngModel)]="obj.selected" /></span>
                        <span *ngIf="userInfo.userType==1 && obj.status=='A'" style="color:green">Approved</span>
                    </ion-item>
                </ion-item> -->


                <div *ngIf="groupInfo.messageTypeInfo==2">
                        <h3 *ngIf="groupImages.length==0 && !loader && groupInfo.groupId" style="color:red">No Image Available for group</h3>
                </div>
                
                <div *ngIf="groupInfo.messageTypeInfo==1 && image">
                        <h3 *ngIf="image.imagesArray.length==0 && !loader" style="color:red">No Image Available for Individual</h3>
                </div>
                
            <!-- </ion-list>    -->
        <!-- </ion-list>     -->




        
    </ion-list>
<!-- 
    <div text-center *ngIf="loader">
        <ion-spinner name="circles" ></ion-spinner>
    </div> -->
</ion-content>
